body {
    text-align: center;
}

.choices {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: blue;
  margin-top: 20px;
  font-size: 4.6rem;
}